
body {
    font-family: sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
  }
  .cards{
    display: flex;
    margin-top: 20px;
  }
  
 
  .card {
    width: 220px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(41, 40, 40, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 10px;
;
  }


  .card-image {
    width: 80px;
    height: 80px;
    padding: 20px;
 
  }
  

  .card-content {
    padding: 15px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #333;
  }
  
  .card-description {
    font-size: 14px;
    color: #666;
    margin: 0 0 15px;
  }
  


  
  .Contact{
    background-color: #35076d;
    color: white;
    width: 150px;
    border: none;
    padding: 12px;
    margin: 20px;
  border-radius: 5px;
  }